%tr.search-item
  %td.search-item-thumbnail
    %a.th{href: search_item.profile_pic}
      %img.profile-pic{src: search_item.profile_pic}
  %td
    .profile-description
      = render partial: 'search_items/search_item_description', locals: {search_item: search_item}
