.row.columns.small-6.small-centered
  %h1 Hi, fellow couchsurfing host!
  .columns.small-10
    %p
      You can watch new couchsurfers coming to your city here,
      so you don't have to look through all of the couch requests
      you've already seen.

  %a.button.expand{href: new_user_registration_path}
    Sign up!
