%label
  Type in a location
  %input.location-text-field(type="text" placeholder="A small planet somewhere in the vicinity of Betelgeuse" data-bind="value: query, valueUpdate: 'input'")
-# .status(data-bind="text: status")
%table.no-borders.full-width
  %tbody.locations-list(data-bind="foreach: locations")
    %tr.location
      %td
        %h4
          %a.city-name(data-bind="text: city, click: locationClick")
          %small
            %span.state(data-bind="text: state")
        .country(data-bind="text: country")
