%input.location-text-field(data-bind="value: query, valueUpdate: 'input'")
.status(data-bind="text: status")
%table
  %tbody.locations-list(data-bind="foreach: locations")
    %tr.location
      %td
        %h4
          %a.city-name(data-bind="text: city, click: locationClick")
          %small
            %span.state(data-bind="text: state")
        .country(data-bind="text: country")
